<%- include('includes/head', { pageTitle: 'An error occurred' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>Resource not found!</h1>
    <p>Unfortunately, the resource you requested could not be found.</p>
    <p><a class="btn" href="/">Back to home page</a></p>
  </main>
<%- include('includes/footer') %>
