<%- include('includes/head', { pageTitle: 'An error occurred' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>Something went wrong on the web server!</h1>
    <p>Unfortunately, something went wrong on the web server. Please contact the server administrator to report this issue.</p>
    <p><a class="btn" href="/">Back to home page</a></p>
  </main>
<%- include('includes/footer') %>
