<%- include('../../shared/includes/head', { pageTitle: 'Order Successful' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Your order was placed successfully!</h1>
    <p>
      You can visit <a href="/orders">the orders page</a> for full details on your order and updates on its status.
    </p>
  </main>
<%- include('../../shared/includes/footer') %>
